# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
env/
bin/
lib/

# Environment variables (Crucial for FastAPI security)
.env
.env.*
!.env.example

# Databases (If using SQLite)
*.sqlite3
*.db

# Testing and Coverage
.pytest_cache/
.coverage
htmlcov/

# IDEs
.vscode/
.idea/